In [3]:
import yfinance as yf
from pandas_datareader import data as pdr

In [4]:
yf.pdr_override()

data = pdr.get_data_yahoo("^KS11", start="2020-01-01", end="2022-01-01")
print(data)

[*********************100%***********************]  1 of 1 completed
                                  Open         High          Low        Close  \
Date
2020-01-02 00:00:00+09:00  2201.209961  2202.320068  2171.840088  2175.169922
2020-01-03 00:00:00+09:00  2192.580078  2203.379883  2165.389893  2176.459961
2020-01-06 00:00:00+09:00  2154.969971  2164.419922  2149.949951  2155.070068
2020-01-07 00:00:00+09:00  2166.600098  2181.620117  2164.270020  2175.540039
2020-01-08 00:00:00+09:00  2156.270020  2162.320068  2137.719971  2151.310059
...                                ...          ...          ...          ...
2021-12-24 00:00:00+09:00  3009.479980  3025.770020  3009.479980  3012.429932
2021-12-27 00:00:00+09:00  3013.939941  3017.310059  2999.300049  2999.550049
2021-12-28 00:00:00+09:00  3006.770020  3020.290039  2991.550049  3020.239990
2021-12-29 00:00:00+09:00  3002.899902  3007.719971  2988.669922  2993.290039
2021-12-30 00:00:00+09:00  2999.750000  3005.360107  2975.739990  2977.649902

                             Adj Close  Volume
Date
2020-01-02 00:00:00+09:00  2175.169922  494700
2020-01-03 00:00:00+09:00  2176.459961  631600
2020-01-06 00:00:00+09:00  2155.070068  592700
2020-01-07 00:00:00+09:00  2175.540039  568200
2020-01-08 00:00:00+09:00  2151.310059  913800
...                                ...     ...
2021-12-24 00:00:00+09:00  3012.429932  537500
2021-12-27 00:00:00+09:00  2999.550049  475000
2021-12-28 00:00:00+09:00  3020.239990  607000
2021-12-29 00:00:00+09:00  2993.290039  545800
2021-12-30 00:00:00+09:00  2977.649902  460600

[496 rows x 6 columns]

In [5]:
data = yf.download(['GOOG','META'], period='1mo')
data.head()

[*********************100%***********************]  2 of 2 completed

                            Adj Close                   Close              \
                                 GOOG        META        GOOG        META
Date
2022-09-21 00:00:00-04:00  100.010002  142.119995  100.010002  142.119995
2022-09-22 00:00:00-04:00  100.570000  142.820007  100.570000  142.820007
2022-09-23 00:00:00-04:00   99.169998  140.410004   99.169998  140.410004
2022-09-26 00:00:00-04:00   98.809998  136.369995   98.809998  136.369995
2022-09-27 00:00:00-04:00   98.089996  134.399994   98.089996  134.399994

                                 High                    Low              \
                                 GOOG        META       GOOG        META
Date
2022-09-21 00:00:00-04:00  103.489998  149.600006  99.989998  142.000000
2022-09-22 00:00:00-04:00  101.680000  144.580002  99.410004  140.869995
2022-09-23 00:00:00-04:00  100.110001  142.619995  98.010002  138.889999
2022-09-26 00:00:00-04:00  100.440002  142.240005  98.379997  136.190002
2022-09-27 00:00:00-04:00  100.459999  139.419998  97.339996  134.119995

                                 Open                Volume
                                 GOOG        META      GOOG      META
Date
2022-09-21 00:00:00-04:00  102.239998  146.389999  26596800  38338600
2022-09-22 00:00:00-04:00   99.449997  141.550003  21272700  34418500
2022-09-23 00:00:00-04:00  100.059998  141.419998  25645100  31663300
2022-09-26 00:00:00-04:00   98.610001  140.119995  22437900  30497000
2022-09-27 00:00:00-04:00   99.910004  137.919998  24225000  30826500

In [6]:
data = yf.download(['GOOG','META'], start='2021-12-10', end='2021-12-30', group_by='ticker')
data.head()

[*********************100%***********************]  2 of 2 completed

                                 GOOG                                      \
                                 Open        High         Low       Close
Date
2021-12-10 00:00:00-05:00  149.100006  149.399994  147.357498  148.675003
2021-12-13 00:00:00-05:00  148.444000  148.562500  146.360001  146.704498
2021-12-14 00:00:00-05:00  144.770004  145.442001  142.242493  144.970505
2021-12-15 00:00:00-05:00  144.365997  147.517242  142.705505  147.368500
2021-12-16 00:00:00-05:00  148.076996  148.551498  144.092499  144.838501

                                                       META              \
                            Adj Close    Volume        Open        High
Date
2021-12-10 00:00:00-05:00  148.675003  21634000  332.559998  335.029999
2021-12-13 00:00:00-05:00  146.704498  24104000  330.950012  341.089996
2021-12-14 00:00:00-05:00  144.970505  24778000  328.049988  335.700012
2021-12-15 00:00:00-05:00  147.368500  27280000  332.489990  342.109985
2021-12-16 00:00:00-05:00  144.838501  27400000  338.980011  344.459991


                                  Low       Close   Adj Close    Volume
Date
2021-12-10 00:00:00-05:00  326.369995  329.750000  329.750000  14528000
2021-12-13 00:00:00-05:00  329.589996  334.489990  334.489990  22948700
2021-12-14 00:00:00-05:00  327.649994  333.739990  333.739990  20461000
2021-12-15 00:00:00-05:00  323.980011  341.660004  341.660004  24681300
2021-12-16 00:00:00-05:00  333.739990  334.899994  334.899994  22635000

In [8]:
from datetime import datetime
now = datetime.now()
print(now.year, now.month)

2022 10

In [16]:
import time
import datetime
import pandas as pd
import csv
from datetime import datetime

now = datetime.now()
file_path = "/home/steve/Capstone/IIS/Stock/Stock_screener"
f = pd.read_csv(file_path +'/List of Stocks For An Exchange.csv', encoding='euc-kr')

In [17]:
f.dtypes, f.head

(Symbol          object
 Description     object
 Local Symbol    object
 IPO Date        object
 Category1       object
 Category2       object
 Category3       object
 GICS Sector     object
 ISIN            object
 SEDOL           object
 Market Cap      object
 Currency        object
 Actions         object
 dtype: object,
 <bound method NDFrame.head of         Symbol               Description Local Symbol    IPO Date  \
 0    KQ:247540             Ecopro Bm Ltd       247540  01/03/2020
 1    KQ:091990  CELLTRION HEALTHCARE LTD       091990  07/28/2017
 2    KQ:066970              L&F CO. LTD.       066970  01/02/2003
 3    KQ:293490          Kakao Games Corp       293490  09/10/2020
 4    KQ:036490          SK MATERIALS LTD       036490  09/20/2000
 ..         ...                       ...          ...         ...
 283  KQ:280360            LOTTE CONF LTD       280360  10/21/2022
 284  KQ:281820               KC TECH LTD       281820  10/21/2022
 285  KQ:282330     BGF Retail Co Ltd/New       282330  10/21/2022
 286  KQ:289220        GiantStep Co. Ltd.       289220  03/24/2021
 287  KQ:348370           Enchem Co. Ltd.       348370  11/01/2021

          Category1      Category2                Category3  \
 0    Global Equity  Common stocks  Developed markets ex-US
 1    Global Equity  Common stocks  Developed markets ex-US
 2    Global Equity  Common stocks         Emerging markets
 3    Global Equity   Comon stocks  Developed markets ex-US
 4    Global Equity  Common stocks         Emerging markets
 ..             ...            ...                      ...
 283  Global Equity  Common stocks  Developed markets ex-US
 284  Global Equity  Common stocks  Developed markets ex-US
 285  Global Equity  Common stocks  Developed markets ex-US
 286  Global Equity   Comon stocks  Developed markets ex-US
 287  Global Equity   Comon stocks  Developed markets ex-US

                 GICS Sector          ISIN    SEDOL          Market Cap  \
 0               Industrials  KR7247540008  BJ321P7  10,046,314,381,312
 1               Health Care  KR7091990002  BYZ6DH8   8,119,517,708,288
 2    Information Technology  KR7066970005  6578608   5,746,868,092,928
 3    Communication Services           NaN      NaN   5,154,093,000,000
 4                 Materials  KR7036490001  6199571   4,249,668,288,512
 ..                      ...           ...      ...                 ...
 283        Consumer Staples  KR7280360009  BZ60JT0                   0
 284  Information Technology  KR7281820001  BD3S0S9                   0
 285                 Unknown           NaN      NaN                   0
 286           Communication           NaN      NaN                   0
 287               Materials           NaN      NaN                   0

     Currency  Actions
 0        KRW  Analyze
 1        KRW  Analyze
 2        KRW  Analyze
 3        KRW  Analyze
 4        KRW  Analyze
 ..       ...      ...
 283      KRW  Analyze
 284      KRW  Analyze
 285      KRW  Analyze
 286      KRW  Analyze
 287      KRW  Analyze

 [288 rows x 13 columns]>)

In [20]:
f.dtypes

Symbol          object
Description     object
Local Symbol    object
IPO Date        object
Category1       object
Category2       object
Category3       object
GICS Sector     object
ISIN            object
SEDOL           object
Market Cap      object
Currency        object
Actions         object
dtype: object

In [40]:
d = f[['Symbol','Description']]

In [45]:
d['Symbol']

0      KQ:247540
1      KQ:091990
2      KQ:066970
3      KQ:293490
4      KQ:036490
         ...
283    KQ:280360
284    KQ:281820
285    KQ:282330
286    KQ:289220
287    KQ:348370
Name: Symbol, Length: 288, dtype: object

In [33]:
d['Symbol']=d['Symbol'].astype('str')
# d=d.astype(str)

In [47]:
# d['Symbol']=d['Symbol'].replace('KQ:','')
d['Symbol'] = d['Symbol'].str.replace('KQ:','') +'.KS'
print(d)

        Symbol               Description
0    247540.KS             Ecopro Bm Ltd
1    091990.KS  CELLTRION HEALTHCARE LTD
2    066970.KS              L&F CO. LTD.
3    293490.KS          Kakao Games Corp
4    036490.KS          SK MATERIALS LTD
..         ...                       ...
283  280360.KS            LOTTE CONF LTD
284  281820.KS               KC TECH LTD
285  282330.KS     BGF Retail Co Ltd/New
286  289220.KS        GiantStep Co. Ltd.
287  348370.KS           Enchem Co. Ltd.

[288 rows x 2 columns]

/tmp/ipykernel_1854/2899084040.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  d['Symbol'] = d['Symbol'].str.replace('KQ:','') +'.KS'

In [64]:
for tick in d['Symbol']:
    # print(tick, type(tick))
    tick = pdr.get_data_yahoo(tick, '2019-01-01','2020-01-01')
    tick.head()

[*********************100%***********************]  1 of 1 completed

1 Failed download:
- 247540.KS: No data found for this date range, symbol may be delisted
[*********************100%***********************]  1 of 1 completed

1 Failed download:
- 091990.KS: No data found for this date range, symbol may be delisted
[*********************100%***********************]  1 of 1 completed

1 Failed download:
- 066970.KS: No data found for this date range, symbol may be delisted
[*********************100%***********************]  1 of 1 completed

1 Failed download:
- 293490.KS: No data found for this date range, symbol may be delisted
[*********************100%***********************]  1 of 1 completed

1 Failed download:
- 036490.KS: No data found for this date range, symbol may be delisted
[*********************100%***********************]  1 of 1 completed

1 Failed download:
- 278280.KS: No data found for this date range, symbol may be delisted
[*********************100%***********************]  1 of 1 completed

1 Failed download:
- 058470.KS: No data found for this date range, symbol may be delisted
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed

1 Failed download:
- 035760.KS: No data found for this date range, symbol may be delisted
[*********************100%***********************]  1 of 1 completed

1 Failed download:
- 253450.KS: No data found for this date range, symbol may be delisted

KeyboardInterrupt:

In [60]:
sec=pdr.get_data_yahoo('293490.KQ',start='2019-04-11')
# msft=pdr.get_data_yahoo('MSFT',start='2019-04-11')

[*********************100%***********************]  1 of 1 completed

In [61]:
sec.head()

,Open,High,Low,Close,Adj Close,Volume
Date,,,,,,
2022-10-21 00:00:00+09:00,36800.0,38400.0,36700.0,37900.0,37900.0,482871

In [71]:
import pandas as pd
import pandas_datareader as pdr

# 종목 타입에 따라 download url이 다름. 종목코드 뒤에 .KS .KQ등이 입력되어야해서 Download Link 구분 필요
stock_type = {
    'kospi': 'stockMkt',
    'kosdaq': 'kosdaqMkt'
}

# 회사명으로 주식 종목 코드를 획득할 수 있도록 하는 함수
def get_code(df, name):
  code = df.query("name=='{}'".format(name))['code'].to_string(index=False)
  
  # 위와같이 code명을 가져오면 앞에 공백이 붙어있는 상황이 발생하여 앞뒤로 sript() 하여 공백 제거
  code = code.strip()
  return code

# download url 조합
def get_download_stock(market_type=None):
  market_type_param = stock_type[market_type]
  download_link = 'http://kind.krx.co.kr/corpgeneral/corpList.do'
  download_link = download_link + '?method=download'
  download_link = download_link + '&marketType=' + market_type_param

  df = pd.read_html(download_link, header=0)[0]
  return df

# kospi 종목코드 목록 다운로드
def get_download_kospi():
  df = get_download_stock('kospi')
  df.종목코드 = df.종목코드.map('{:06d}.KS'.format)
  return df

# kosdaq 종목코드 목록 다운로드
def get_download_kosdaq():
  df = get_download_stock('kosdaq')
  df.종목코드 = df.종목코드.map('{:06d}.KQ'.format)
  return df

In [84]:

# kospi, kosdaq 종목코드 각각 다운로드
kospi_df = get_download_kospi()
kosdaq_df = get_download_kosdaq()

# data frame merge
code_df = pd.concat([kospi_df, kosdaq_df])

# data frame정리
code_df = code_df[['회사명', '종목코드']]

# data frame title 변경 '회사명' = name, 종목코드 = 'code'
code_df = code_df.rename(columns={'회사명': 'name', '종목코드': 'code'})

code_df.to_csv("/home/steve/Capstone/IIS/Stock/Korean_stock/Korean_stock.csv",index=False)

In [88]:
import csv
# f = open('/home/steve/Capstone/IIS/Stock/Korean_stock/Korean_stock_sample.csv','r')
# rdr = csv.reader(f)
# for line in rdr:
#     print(line)
# f.close()

test = pd.read_csv("/home/steve/Capstone/IIS/Stock/Korean_stock/Korean_stock_sample.csv")
test.dtypes

name    object
code    object
dtype: object

In [99]:
for i in range(len(test)):
    # print(test.iloc[i,0] + ' ' + test.iloc[i,1])
    print(test.iloc[i,0])
    df = pdr.get_data_yahoo(test.iloc[i,1])
    # df = df['Close']
    # print(df)
    df.to_csv("/home/steve/Capstone/IIS/Stock/Korean_stock/Korean_stock_data/"+test.iloc[i,0],index=False)

DL
DRB동일
DSR
GS
HDC현대산업개발
KG케미칼
KPX케미칼
KSS해운
KTis
LG이노텍
LG헬로비전
LX하우시스
LX홀딩스
MH에탄올
OCI

In [91]:
code = get_code(code_df, '한컴위드')
print(code)

# df = pdr.get_data_yahoo(code)

# df['Close']

054920.KQ

In [69]:
df = pdr.get_data_yahoo(code, adjust_price=True)
df

,High,Low,Open,Close,Volume,Adj_Ratio
Date,,,,,,
2017-10-23,47310.178902,46756.033322,47275.544803,47015.789062,8311050.0,0.865852
2017-10-24,47431.398803,46790.667969,47362.130605,46790.667969,5806050.0,0.865852
2017-10-25,47119.696458,46496.282612,46790.672484,46669.453125,5882850.0,0.865853
2017-10-26,46669.450650,45370.671875,46513.597197,45370.671875,9776550.0,0.865853
2017-10-27,46167.261660,45145.555569,45370.677250,45959.457031,7392500.0,0.865853
...,...,...,...,...,...,...
2022-10-17,57000.000000,55700.000000,55800.000000,56600.000000,13641878.0,1.000000
2022-10-18,57100.000000,55800.000000,56700.000000,56500.000000,14820702.0,1.000000
2022-10-19,56900.000000,55700.000000,56700.000000,55800.000000,12660652.0,1.000000
2022-10-20,56000.000000,55100.000000,55200.000000,55500.000000,17107653.0,1.000000
2022-10-21,56300.000000,55100.000000,55100.000000,55900.000000,11456060.0,1.000000

In [70]:
df.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 1228 entries, 2017-10-23 to 2022-10-21
Data columns (total 6 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   High       1228 non-null   float64
 1   Low        1228 non-null   float64
 2   Open       1228 non-null   float64
 3   Close      1228 non-null   float64
 4   Volume     1228 non-null   float64
 5   Adj_Ratio  1228 non-null   float64
dtypes: float64(6)
memory usage: 67.2 KB